<div class="row">
    <div class="col">
        <div class="card card-mtpe mb-3">
            <div class="card-header bg-light d-sm-flex justify-content-between p-1">
                <h5><small class="ml-3">Registro de Expediente - Datos del Expediente</small></h5>
                <h5 class="mb-0 pr-3"><small>Paso 4 de 5</small></h5>
            </div>
            <div class="card-body">
                <div class="defensa mb-2">
                    <div class="form-row">
                        <div class="col-lg-5">
                            <div class="form-group row">
                            <label for="inpTipo" class="col-sm-5 col-form-label col-form-label-sm text-sm-right">Fecha de Registro</label>
                            <div class="col-sm-7">
                                <p-calendar name="date1" [(ngModel)]="date1" [locale]="es" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
                            </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group row">
                            <label for="inpNumero" class="col-sm-5 col-form-label col-form-label-sm text-sm-right">Registro M.P.</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control form-control-sm" id="inpNumero" placeholder="">
                            </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group row">
                            <div class="col-sm-9">
                                <a href="#" class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#regLaborales"><i class="fa fa-search-plus" aria-hidden="true"></i> Listado de M.P.</a>
                            </div>
                            </div>
                        </div>
                    </div>
                    <form>
                        <div class="row">
                            <div class="col-md-12">
                                <p-dataTable [value]="motatenofic" [editable]="true" [(selection)]="selectmotatenofic" (onEditComplete)="saveObservacion($event)" (onRowSelect)="saveMotivPase($event)" (onRowUnselect)="deleteMotivpase($event)" scrollable="true" scrollHeight="220px" dataKey="Motateno.id">
                                    <p-header>Motivos de la Conciliación</p-header>
                                    <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                                    <p-column [style]="{'width':'50px', 'text-align':'center'}" header="Item">
                                        <ng-template let-i="rowIndex" pTemplate="body">
                                            <span style="text-align:center">{{i+1}}</span>
                                        </ng-template>
                                    </p-column>
                                    <p-column [style]="{'width':'30%'}" field="Motateno.motate.vDesmotate" header="Descripción"></p-column>
                                    <p-column [style]="{'text-align':'left'}" field="observacion" header="Observación" [editable]="true"></p-column>
                                    <ng-template pTemplate="emptymessage">
                                        No se han encontrado registros
                                    </ng-template>
                                </p-dataTable>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <!-- <div class="col-md-6">
                                <p-dataTable [value]="documentos" dataKey="codigoDocumentos">
                                    <p-header>Documentos Presentados</p-header>
                                    <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                                    <p-column field="descripcion" header="Descripción"></p-column>
                                    <p-column field="observacion" header="Observación"></p-column>
                                </p-dataTable>
                            </div> -->
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3 mb-2">
                                        <div class="ui-g">
                                            <label for="inpFechaAudiencia" class="col-form-label ui-g-6 pl-0 py-1">Fecha de Audiencia:</label>
                                            <p-calendar name="fechaAudiencia" [(ngModel)]="fechaAudiencia" [locale]="es" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-2">
                                        <div class="ui-g">
                                            <label for="inpHoraConciliacion" class="col-form-label ui-g-6 pl-0 py-1">Hora de Conciliación:</label>
                                            <p-dropdown name="hora" [options]="hora" [(ngModel)]="selectedHora"></p-dropdown>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-2">
                                        <div class="ui-g">
                                            <label for="inpObservacion" class="col-form-label  ui-g-3 col-form-label-sm">Observación:</label>
                                            <textarea class="form-control" rows="3"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>