<div class="row">
    <div class="col">
        <div class="card card-mtpe mb-3">
            <div class="card-header bg-light d-sm-flex justify-content-between p-1">
                <h5><small class="ml-3">Registro de Expediente - Audiencia</small></h5>
                <h5 class="mb-0 pr-3"><small>Paso 5 de 5</small></h5>
            </div>
            <div class="card-body">
                <div class="defensa mb-2">
                    <div class="row my-3">
                        <div class="col-md-12">
                            <p-dataTable [value]="audiencia" dataKey="item">
                                <p-header>Audiencias</p-header>
                                <p-column field="item" header="N°"></p-column>
                                <p-column field="fecha" header="Fecha"></p-column>
                                <p-column field="hora" header="Hora"></p-column>
                                <p-column field="conciliador" header="Conciliador"></p-column>
                                <p-column field="resultado" header="Resultado"></p-column>
                                <p-column field="tresultado" header="Tipo de Resultado"></p-column>
                                <ng-template pTemplate="emptymessage">
                                    No se han encontrado registros
                                </ng-template>
                            </p-dataTable>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
