<div>
    <div class="row">
        <div class="col">
            <h4 class="title my-3">
                <span>Consulta del Trabajador</span>
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card card-mtpe mb-3">
                <div class="card-header bg-light d-sm-flex justify-content-between p-1">
                    <h5 class="mb-0"><small><i class="fa fa-user" aria-hidden="true"></i> Consulta del Trabajador</small></h5>
                </div>
                <div class="card-body">
                    <div class="consultas-laborales mb-2">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p-radioButton name="groupname" value="1" label="Documento de Identidad" [(ngModel)]="tipoBusqueda"></p-radioButton>
                                    </div>
                                    <div class="col-md-12">
                                        <p-radioButton name="groupname" value="2" label="Nombres y Apellidos" [(ngModel)]="tipoBusqueda"></p-radioButton>        
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="tipoBusqueda==='1'" class="col-md-8">
                                <div class="form-group row">
                                    <label for="inpTipo" class="col-sm-3 col-form-label">Tipo de documento:</label>
                                    <div class="col-sm-4 px-0">
                                        <p-dropdown [options]="tipodocs" name="selectedTipodoc" [(ngModel)]="selectedTipodoc" [style]="{'width':'140px'}" placeholder="Seleccione" optionLabel="vDescorta" dataKey="id"></p-dropdown>
                                    </div>
                                    <label for="inpNumero" class="col-sm-2 col-form-label">Número:</label>
                                    <div class="col-sm-3 px-0">
                                        <input class="form-control form-control-sm" type="text" [(ngModel)]="vNumdoc" name="vNumdoc" />
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="tipoBusqueda==='2'" class="col-md-8">
                                <div class="form-group row">
                                    <label for="inpTipo" class="col-sm-2 col-form-label">Ape. Paterno:</label>
                                    <div class="col-sm-2 px-0">
                                            <input class="form-control form-control-sm" type="text" [(ngModel)]="vApaterno" name="vApaterno" />
                                    </div>
                                    <label for="inpTipo" class="col-sm-2 col-form-label">Ape. Materno:</label>
                                    <div class="col-sm-2 px-0">
                                            <input class="form-control form-control-sm" type="text" [(ngModel)]="vAmaterno" name="vAmaterno" />
                                    </div>
                                    <label for="inpTipo" class="col-sm-2 col-form-label">Nombres:</label>
                                    <div class="col-sm-2 px-0">
                                            <input class="form-control form-control-sm" type="text" [(ngModel)]="vNombre" name="vNombre" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 text-center">
                                    <button (click)="buscarTrabajador()" class="btn btn-sm btn-secondary px-3"><i class="fa fa-search-plus" aria-hidden="true"></i> Buscar</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-1">
                                <p-dataTable [value]="trabajadores" [(selection)]="trabajadorSelec" selectionMode="single" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" dataKey="id">
                                        <p-header>Trabajadores</p-header>
                                        <p-column [style]="{'width':'38px'}" selectionMode="single"></p-column>
                                        <!-- <p-column field="codPase" header="Cod. Pase"></p-column> -->
                                        <p-column field="pernatural.tipdocident.vDescorta" header="Tipo Doc."></p-column>
                                        <p-column field="pernatural.vNumdoc" header="Núm. Doc."></p-column>
                                        <p-column field="pernatural.vApepat" header="Ape. Paterno"></p-column>
                                        <p-column field="pernatural.vApemat" header="Ape. Materno"></p-column>
                                        <p-column field="pernatural.vNombres" header="Nombres"></p-column>
                                        <p-column field="pernatural.vTelefono" header="Telefono"></p-column>
                                        <ng-template pTemplate="emptymessage">
                                                No se han encontrado registros
                                        </ng-template>
                                </p-dataTable>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 my-3">
                                <button (click)="cargarRegistroAtencion('1')" class="btn btn-sm btn-success "><i class="fa fa-archive" aria-hidden="true"></i> Registrar Atención</button>
                            </div>
                            <div class="col-md-12 mb-3">
                                <p-tabView>
                                    <p-tabPanel header="Atenciones" [selected]="true">
                                        <form>
                                            <div class="row">
                                                <div class="col-md-12 mb-3">
                                                    <p-dataTable selectionMode="single" [value]="trabajadores" dataKey="codexpediente">
                                                        <p-header>Expedientes</p-header>
                                                        <p-column field="item" header="Fecha"></p-column>
                                                        <p-column field="estado" header="Num. Ticket"></p-column>
                                                        <p-column field="codexpediente" header="Tipo Doc."></p-column>
                                                        <p-column field="fecha" header="Num. Doc."></p-column>
                                                        <p-column field="conciliador" header="Razón Social"></p-column>
                                                        <p-column field="ruc" header="Área"></p-column>
                                                        <p-column field="empleador" header="Localidad"></p-column>
                                                        <p-column field="nrotra" header="Consultor"></p-column>
                                                        <ng-template pTemplate="emptymessage">
                                                                No se han encontrado registros
                                                        </ng-template>
                                                    </p-dataTable>
                                                </div>
                                            </div>
                                        </form>
                                    </p-tabPanel>
                                    <p-tabPanel header="Pases">
                                        <form>
                                            <div class="row">
                                                <div class="col-md-12 mb-3">
                                                    <p-dataTable [value]="trabajadores" dataKey="codexpediente">
                                                            <p-header>Expedientes</p-header>
                                                            <p-column field="item" header="Item"></p-column>
                                                            <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                                                            <p-column field="codexpediente" header="Nro. Expediente"></p-column>
                                                            <p-column field="fecha" header="Fecha de Registro"></p-column>
                                                            <p-column field="conciliador" header="Conciliador"></p-column>
                                                            <p-column field="ruc" header="Razón Nro. RUC"></p-column>
                                                            <p-column field="empleador" header="Empleador"></p-column>
                                                            <ng-template pTemplate="emptymessage">
                                                                    No se han encontrado registros
                                                            </ng-template>
                                                    </p-dataTable>
                                                </div>
                                            </div>
                                        </form>
                                    </p-tabPanel>
                                    <p-tabPanel header="Direcciones">
                                            <form>
                                                <div class="row">
                                                    <div class="col-md-12 mb-3">
                                                        <p-dataTable [value]="trabajadores" dataKey="codexpediente">
                                                                <p-header>Expedientes</p-header>
                                                                <p-column field="item" header="Item"></p-column>
                                                                <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                                                                <p-column field="codexpediente" header="Nro. Expediente"></p-column>
                                                                <p-column field="fecha" header="Fecha de Registro"></p-column>
                                                                <p-column field="conciliador" header="Conciliador"></p-column>
                                                                <p-column field="ruc" header="Razón Nro. RUC"></p-column>
                                                                <p-column field="empleador" header="Empleador"></p-column>
                                                                <ng-template pTemplate="emptymessage">
                                                                        No se han encontrado registros
                                                                </ng-template>
                                                        </p-dataTable>
                                                    </div>
                                                </div>
                                            </form>
                                        </p-tabPanel>
                                </p-tabView>

                            </div>
                        </div>
                        <p-dialog [width]="800" header="Registros Laborales:" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
                            <div>
                                <p-dataTable selectionMode="single" [(selection)]="selecAten" [value]="atenciones" dataKey="aten.id">
                                    <p-header>Registros</p-header>
                                    <p-column field="aten.datlab.dFecvincul" header="Fecha Inicio"></p-column>
                                    <p-column field="aten.datlab.empleador.perjuridica.vRazsocial" header="Empleador"></p-column>
                                    <p-column field="codexpediente" header="Última Atención"></p-column>
                                    <p-column field="fecha" header="Motivo de Atención"></p-column>
                                    <p-column [style]="{'width':'50px', 'text-align':'center'}" header="Pase">
                                        <ng-template let-data="rowData" pTemplate="body">
                                            <span style="text-align:center">{{ (data.pase===null)?'No':'Si' }}</span>
                                        </ng-template>
                                    </p-column>
                                    <p-column field="pase.vObspase" header="Motivo del Pase"></p-column>
                                    <ng-template pTemplate="emptymessage">
                                            No se han encontrado registros
                                    </ng-template>
                                </p-dataTable>
                            </div>
                            <p-footer>
                                <div class="ui-dialog-buttonpane ui-helper-clearfix">
                                    <button (click)="cancelar()" class="btn btn-sm btn-dark "><i class="fa fa-ban" aria-hidden="true"></i> Cancelar</button>
                                    <button (click)="cargarRegistroAtencion('2')" class="btn btn-sm btn-success "><i class="fa fa-cloud-download" aria-hidden="true"></i> Cargar</button>
                                </div>
                            </p-footer>
                        </p-dialog>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <jhi-alert></jhi-alert>
</div>
