<div>
    <div class="row">
        <div class="col">
            <h4 class="title my-3">
                <span>Consulta del Empleador</span>
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card card-mtpe mb-3">
                <div class="card-header bg-light d-sm-flex justify-content-between p-1">
                    <h5 class="mb-0"><small><i class="fa fa-user" aria-hidden="true"></i> Consulta del Empleador</small></h5>
                </div>
                <div class="card-body">
                    <div class="consultas-laborales mb-2">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p-radioButton name="groupname" value="1" label="Documento de Identidad" [(ngModel)]="tipoBusqueda" (onClick)="inicializarFormulario()"></p-radioButton>
                                    </div>
                                    <div class="col-md-12">
                                        <p-radioButton name="groupname" value="2" label="Razón Social" [(ngModel)]="tipoBusqueda" (onClick)="inicializarFormulario()"></p-radioButton>        
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="tipoBusqueda==='1'" class="col-md-8">
                                <div class="form-group row">
                                    <label for="inpTipo" class="col-sm-3 col-form-label">Tipo de documento:</label>
                                    <div class="col-sm-4 px-0">
                                        <p-dropdown [options]="tipodocs" name="selectedTipodoc" [(ngModel)]="selectedTipodoc" [style]="{'width':'140px'}" placeholder="Seleccione" optionLabel="vDescorta" dataKey="id" (onChange)="inicializarFormulario()"></p-dropdown>
                                    </div>
                                    <label for="inpNumero" class="col-sm-2 col-form-label">Número:</label>
                                    <div class="col-sm-3 px-0">
                                        <!-- <input class="form-control form-control-sm" type="text" [(ngModel)]="vNumdoc" name="vNumdoc" pattern="[0-9]+/> -->
                                        <input class="form-control form-control-sm" type="text" [(ngModel)]="vNumdoc" name="vNumdoc" />
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="tipoBusqueda==='2'" class="col-md-8">
                                <div class="form-group row">
                                    <label for="inpTipo" class="col-sm-2 col-form-label">Razón Social:</label>
                                    <div class="col-sm-2 px-0">
                                            <input class="form-control form-control-sm" type="text" [(ngModel)]="vRazsocial" name="vRazsocial" style="width: 250px; text-transform: uppercase"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 text-center">
                                    <button (click)="buscarEmpleador()" class="btn btn-sm btn-secondary px-3"><i class="fa fa-search-plus" aria-hidden="true"></i> Buscar</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-1" *ngIf="tippersona==='0'">
                                <!-- <p-dataTable [value]="empleadores" [(selection)]="empleadorSelec" selectionMode="single" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" dataKey="id">
                                        <p-header>Empleadores</p-header>
                                        <p-column [style]="{'width':'38px'}" selectionMode="single"></p-column> -->
                                        <!-- <p-column field="codPase" header="Cod. Pase"></p-column> -->
                                        <!-- <p-column field="EmpleadorPernaturalTipdocident_vDescorta" header="Tipo Doc."></p-column>
                                        <p-column field="EmpleadorPernatural_vNumdoc" header="Núm. Doc."></p-column>
                                        <p-column field="NombEmpleador" header="Empleador"></p-column>
                                        <p-column field="EmpleadorPernatural_vTelefono" header="Teléfono"></p-column>
                                </p-dataTable> -->

                                <p-dataTable #Templeadores [value]="empleadores" [(selection)]="empleadorSelec" selectionMode="single" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" dataKey="empleador.id">
                                        <p-header>Empleadores</p-header>
                                        <p-column [style]="{'width':'38px'}" selectionMode="single"></p-column>
                                        <!-- <p-column field="codPase" header="Cod. Pase"></p-column> -->
                                        <p-column field="empleador.pernatural.tipdocident.vDescorta" header="Tipo Doc."></p-column>
                                        <p-column field="empleador.pernatural.vNumdoc" header="Núm. Doc."></p-column>
                                        <p-column field="NombEmpleador" header="Empleador"></p-column>
                                        <p-column field="empleador.pernatural.vTelefono" header="Teléfono"></p-column>
                                </p-dataTable>
                            </div>
                            <div class="col-md-12 mb-1" *ngIf="tippersona==='1'">
                                <p-dataTable #Templeadores [value]="empleadores" [(selection)]="empleadorSelec" selectionMode="single" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" dataKey="empleador.id">
                                        <p-header>Empleadores</p-header>
                                        <p-column [style]="{'width':'38px'}" selectionMode="single"></p-column>
                                        <!-- <p-column field="codPase" header="Cod. Pase"></p-column> -->
                                        <p-column field="empleador.perjuridica.tipdocident.vDescorta" header="Tipo Doc."></p-column>
                                        <p-column field="empleador.perjuridica.vNumdoc" header="Núm. Doc."></p-column>
                                        <!-- <p-column field="empleador.perjuridica.vRazsocial" header="Empleador"></p-column> -->
                                        <p-column field="NombEmpleador" header="Empleador"></p-column>
                                        <p-column field="empleador.perjuridica.vTelefono" header="Teléfono"></p-column>
                                </p-dataTable>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 my-3">
                                <button (click)="cargarRegistroAtencion('1')" class="btn btn-sm btn-success "><i class="fa fa-archive" aria-hidden="true"></i> Registrar Atención</button>
                            </div>
                            <div class="col-md-12 mb-3">
                                <p-tabView>
                                    <p-tabPanel header="Atenciones" [selected]="true">
                                        <form>
                                            <div class="row">
                                                <div class="col-md-12 mb-3">
                                                    <p-dataTable #Tatenciones selectionMode="single" [value]="atenciones" dataKey="aten.id">
                                                        <p-header>Atenciones</p-header>
                                                        <p-column header="Fecha">
                                                            <ng-template let-data="rowData" pTemplate="body">
                                                                <span>{{ data.aten.tFecreg | date: 'dd/MM/yyyy' }}</span>
                                                            </ng-template>
                                                        </p-column>
                                                        <p-column field="aten.vNumticket" header="Num. Ticket"></p-column>
                                                        <!-- <div *ngIf="tippersona==='0'">
                                                            <p-column field="aten.datlab.empleador.pernatural.tipdocident.vDescorta" header="Tipo Doc."></p-column>
                                                            <p-column field="aten.datlab.empleador.pernatural.vNumdoc" header="Num. Doc."></p-column>
                                                            <p-column field="aten.datlab.empleador.pernatural.vNombres" header="Empleador"></p-column>
                                                        </div>
                                                        <div *ngIf="tippersona==='1'">
                                                            <p-column field="aten.datlab.empleador.perjuridica.tipdocident.vDescorta" header="Tipo Doc."></p-column>
                                                            <p-column field="aten.datlab.empleador.perjuridica.vNumdoc" header="Num. Doc."></p-column>
                                                            <p-column field="aten.datlab.empleador.perjuridica.vRazsocial" header="Empleador"></p-column>
                                                        </div> -->
                                                        <p-column field="aten.oficina.vDesofic" header="Área"></p-column>
                                                        <p-column field="aten.nSedereg" header="Localidad"></p-column>
                                                        <p-column field="aten.nUsuareg" header="Consultor"></p-column>
                                                    </p-dataTable>
                                                </div>
                                            </div>
                                        </form>
                                    </p-tabPanel>
                                    <p-tabPanel header="Pases">
                                        <form>
                                            <div class="row">
                                                <div class="col-md-12 mb-3">
                                                    <p-dataTable #Tpases [value]="pases" dataKey="pases.id_pasegl">
                                                            <p-header>Pases</p-header>
                                                            <p-column header="Fecha">
                                                                <ng-template let-data="rowData" pTemplate="body">
                                                                    <span>{{ pases.tFecreg | date: 'dd/MM/yyyy' }}</span>
                                                                </ng-template>
                                                            </p-column>
                                                            <p-column field="pases.aten.vNumticket" header="Num. Ticket"></p-column>
                                                            <p-column field="pases.oficinaOrigen" header="Origen"></p-column>
                                                            <p-column field="pases.oficinaDestino" header="Destino"></p-column>
                                                            <p-column field="pases.tipdoc" header="Tipo Doc."></p-column>
                                                            <p-column field="pases.vNumdoc" header="Num. Doc."></p-column>
                                                            <p-column field="pases.nomrepre" header="Representante"></p-column>
                                                            <p-column field="pases.nSedereg" header="Localidad"></p-column>
                                                            <p-column field="pases.nUsuareg" header="Consultor"></p-column>
                                                    </p-dataTable>
                                                </div>
                                            </div>
                                        </form>
                                    </p-tabPanel>
                                    <!-- <p-tabPanel header="Direcciones" (click)="ConsultaDirecciones()"> -->
                                    <p-tabPanel header="Direcciones">
                                            <form>
                                                <div class="row">
                                                    <div class="col-md-12 mb-3">
                                                        <p-dataTable #Tdirecciones [value]="direcciones" dataKey="direc.id">
                                                                <p-header>Direcciones</p-header>
                                                                <p-column field="dpto" header="Departamento"></p-column>
                                                                <p-column field="prov" header="Provincia"></p-column>
                                                                <p-column field="dist" header="Distrito"></p-column>
                                                                <p-column field="direc.vDircomple" header="Dirección"></p-column>
                                                                <!-- <p-column field="direc.nFlgnotifi" header="Notificar"> -->
                                                                <p-column header="Notificar">
                                                                    <ng-template let-data="rowData" pTemplate="body">
                                                                        <span style="text-align:center">{{ (data.direc.nFlgnotifi===false)?'':'SI' }}</span>
                                                                    </ng-template>
                                                                </p-column>
                                                        </p-dataTable>
                                                    </div>
                                                </div>
                                            </form>
                                        </p-tabPanel>
                                </p-tabView>

                            </div>
                        </div>
                        <!-- <p-dialog [width]="800" header="Registros Laborales:" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
                            <div>
                                <p-dataTable selectionMode="single" [(selection)]="selecAten" [value]="atenciones" dataKey="aten.id">
                                    <p-header>Registros</p-header>
                                    <p-column field="aten.datlab.dFecvincul" header="Fecha Inicio"></p-column>
                                    <p-column field="aten.datlab.empleador.perjuridica.vRazsocial" header="Empleador"></p-column>
                                    <p-column field="codexpediente" header="Última Atención"></p-column>
                                    <p-column field="fecha" header="Motivo de Atención"></p-column>
                                    <p-column [style]="{'width':'50px', 'text-align':'center'}" header="Pase">
                                        <ng-template let-data="rowData" pTemplate="body">
                                            <span style="text-align:center">{{ (data.pase===null)?'No':'Si' }}</span>
                                        </ng-template>
                                    </p-column>
                                    <p-column field="pase.vObspase" header="Motivo del Pase"></p-column>
                                </p-dataTable>
                            </div>
                            <p-footer>
                                <div class="ui-dialog-buttonpane ui-helper-clearfix">
                                    
                                    <button (click)="cancelar()" class="btn btn-sm btn-dark "><i class="fa fa-ban" aria-hidden="true"></i> Cancelar</button>
                                    <button (click)="cargarRegistroAtencion('2')" class="btn btn-sm btn-success "><i class="fa fa-cloud-download" aria-hidden="true"></i> Cargar</button>
                                </div>
                            </p-footer>
                        </p-dialog> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <jhi-alert></jhi-alert>
</div>