  
        <div class="row">
          <div class="col">
          
            
              <div class="card-header d-sm-flex justify-content-between">
                <h5>Registro de Atenciones</h5>
              </div>
              <div class="card-body">
           
                <fieldset class="col">     
                  <legend>Busqueda de Legajos</legend>
                  
                  <div class="panel">
                    <div class="panel-body">
                      <form>
                        <div class="form-row">
                          <div class="col-md">
                            <div class="form-group row">
                              <label for="inpTipo" class="col-sm-5 col-form-label">Por num. Legajo</label>
                                <input type="radio" name="radio" id="inpnumdoc" >
                              
                            </div>
                          </div>
                          <div class="col-md">
                            <div class="form-group row">
                              <label for="inpNumero" class="col-sm-3 col-form-label">Fecha</label>
                              <div class="col-sm-9">
                                <input type="date" class="form-control form-control-sm" id="inpNumero" placeholder="">
                              </div>
                            </div>
                          </div>
                          <div class="col-md">
                            <div class="form-group row">
                              <div class="col-sm-9">
                                <a href="#" class="btn btn-sm btn-secondary"><i class="fa fa-search-plus" aria-hidden="true"></i> Buscar</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                      <form>                         
                        <div class="row">
                          <div class="col-12 mb-3">
                            
                            <table class="table table-striped table-bordered table-responsive list">
                              <thead>
                                <tr>
                                  <th>Nro.</th>
                                  <th>Nro. Legajo</th>
                                  <th>Fecha Registro</th>
                                  <th>Responsable</th>
                                  <th>Nro. RUC</th>
                                  <th>Empleador</th>
                                  <th>Nro. Documento</th>
                                  <th>Trabajador</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>1</td>
                                  <td>00002017755</td>
                                  <td>10/03/2010</td>
                                  <td>NUBILLUS</td>
                                  <td>20505158343</td>
                                  <td>CONFECCIONES INCA COTTON S.A.C.</td>
                                  <td>09833771</td>
                                  <td>CRISOSTOMO GALOSO CARMEN ROSA</td>
                                  
                                </tr>
                                <tr>
                                 <td>2</td>
                                  <td>00002017893</td>
                                  <td>11/05/2006</td>
                                  <td>CQUIROGA</td>
                                  <td>20251850993</td>
                                  <td>GRUPO INTERNACIONAL SERVICE S.A.C.</td>
                                  <td>40112361</td>
                                 <td>ARIAS CORAHUA JANET MONICA</td>
                                 
                                </tr>
                              </tbody>
                            </table>
                            <a href="#" class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-plus" aria-hidden="true"></i> Ver Atenciones</a>
                            <a href="#" class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-plus" aria-hidden="true"></i> Nueva Atencion</a>
                          </div>
                          
                        </div>
                      </form>
                    </div>
                  </div>
                  
                </fieldset>
                
                
              </div>

          
          </div>
        </div>
                  <div class="row">
          <div class="col">
          
            
              <div class="card-header d-sm-flex justify-content-between">
                <h5>Documentos</h5>
              </div>
              <div class="card-body">
                  
                  <div class="panel">
                    <div class="panel-body">
                      <form>                         
                        <div class="row">
                          <div class="col-12 mb-3">
                            
                            <table class="table table-striped table-bordered table-responsive list">
                              <thead>
                                <tr>
                                  <th>Nro.</th>
                                  <th>Tipo de Documento</th>
                                  <th>Tipo de Resolucion</th>
                                  <th>Descripci&oacute;n</th>
                                  <th>Fecha</th>
                                  <th>Usuario</th>
                                  <th>Localidad</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>1</td>
                                  <td>Demanda</td>
                                  <td>Notificacion</td>
                                  <td>Ida y Beneficios Sociales</td>
                                  <td>20/06/2010</td>
                                  <td>EMONTES</td>
                                  <td>Sede Ate</td>
                                  
                                </tr>
                                <tr>
                                 <td>2</td>
                                  <td>Resolucion</td>
                                  <td>Diligencia Convocada</td>
                                  <td>Se admito y programo Audiencia</td>
                                  <td>09/08/2010</td>
                                  <td>NUBILLUS</td>
                                  <td>Sede Ate</td>
                                 
                                </tr>
                              </tbody>
                            </table>
                            <a href="#" class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-plus" aria-hidden="true"></i> Nuevo Documento</a>
                            
                          </div>
                          
                        </div>
                      </form>
                    </div>
                  </div>                 
                
              </div>
                         
          </div>
        </div>
