<p-blockUI [blocked]="block"></p-blockUI>
<p-messages [(value)]="messageList"></p-messages>
<div class="row mt-3">
    <div class="col">
        <div class="card card-panel mb-3">
            <div class="card-header d-sm-flex justify-content-between">
                <h5>Consulta de Denuncias Laborales</h5>
            </div>
            <div class="card-body">
                <fieldset class="col">
                    <legend>Criterio de búsqueda</legend>
                    <div class="ui-g">
                        <div class="ui-md-12">
                            <p-radioButton name="groupDirselect" value="0" [(ngModel)]="criterioBus"></p-radioButton> Empleador
                            <p-radioButton name="groupDirselect" value="1" [(ngModel)]="criterioBus"></p-radioButton> Denunciante
                            <p-radioButton name="groupDirselect" value="2" [(ngModel)]="criterioBus"></p-radioButton> Fechas
                            <p-radioButton name="groupDirselect" value="3" [(ngModel)]="criterioBus"></p-radioButton> Origen
                        </div>
                    </div>
                    <div class="ui-g">
                        <div *ngIf="criterioBus == 0" class="ui-md-10">
                            <div class="ui-g">
                                <div class="ui-md-6">
                                    <label for="criterioTipoDoc">Tipo Doc.</label>
                                    <select class="form-control" [(ngModel)]="criterioTipoDoc" name="criterioTipoDoc">
                                        <option>RUC</option>
                                    </select>
                                </div>
                                <div class="ui-md-6">
                                    <label for="criterioNumDoc">Num. Doc.</label>
                                    <input class="form-control" type="text" name="criterioNumDoc" [(ngModel)]="criterioNumDoc" />
                                </div>
                            </div>
                        </div>
                        <div *ngIf="criterioBus == 1" class="ui-md-10">
                            <div class="ui-g">
                                <div class="ui-md-6">
                                    <label for="criterioTipoDocDenu">Tipo Doc.</label>
                                    <select class="form-control" [(ngModel)]="criterioTipoDocDenu" name="criterioTipoDocDenu">
                                        <option>DNI</option>
                                        <option>PASAPORTE</option>
                                        <option>CARNET EXT.</option>
                                    </select>
                                </div>
                                <div class="ui-md-6">
                                    <label for="criterioNumDocDenu">Num. Doc.</label>
                                    <input class="form-control" type="text" name="criterioNumDocDenu" [(ngModel)]="criterioNumDocDenu" />
                                </div>
                            </div>
                        </div>
                        <div *ngIf="criterioBus == 2" class="ui-md-10">
                            <div class="ui-g">
                                <div class="ui-md-6">
                                    <label for="criterioTipoDocDenu">Fecha Inicio.</label>
                                    <p-calendar [(ngModel)]="fechaInicio" name="fechaInicio" [locale]="es" dateFormat="dd/mm/yy"></p-calendar>
                                </div>
                                <div class="ui-md-6">
                                    <label for="criterioNumDocDenu">Fecha Fin.</label>
                                    <p-calendar [(ngModel)]="fechaFin" name="fechaFin" [locale]="es" dateFormat="dd/mm/yy"></p-calendar>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="criterioBus == 3" class="ui-md-10">
                            <div class="ui-g">
                                <div class="ui-md-6">
                                    <label for="criterioTipoDocDenu">Origen de la Denuncia</label>
                                    <p-dropdown appendTo="body" [options]="listaOrigen" [(ngModel)]="selectOrigen" name="selectOrigen" [style]="{'width':'150px'}"
                                        editable="true" placeholder="Seleccione el origen" optionLabel="name"></p-dropdown>
                                </div>
                                <div class="ui-md-6">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-md-12">
                        <button (click)="buscarDenuncias()" class="btn btn-primary" type="button">Buscar</button>
                        <button (click)="nuevaDenuncia()" class="btn btn-primary" type="button">Nueva Denuncia</button>
                    </div>
                </fieldset>
                <button (click)="consultaInformacionAdicional()" class="btn btn-default" type="button">Responder Información Adicional</button>
                <form>
                    <p-dataTable [value]="listaResultado" [rowStyleClass]="customRowClass" [(selection)]="selectedResultado" rowGroupMode="subheader"
                        groupField="groupheader" expandableRowGroups="true" [sortableRowGroup]="false" dataKey="serialize">
                        <p-header>Resultado de la consulta</p-header>
                        <ng-template pTemplate="rowgroupheader" let-rowData>{{rowData['groupheader']}}</ng-template>
                        <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                        <p-column field="codDenuncia" header="Codigo"></p-column>
                        <p-column field="denunciante" header="Denunciante"></p-column>
                        <p-column field="origen" header="Origen denuncia"></p-column>
                        <p-column field="sectorEconomico" header="Sector Economico"></p-column>
                        <p-column field="remipe" header="REMIPE"></p-column>
                        <p-column field="motivo" header="Motivo"></p-column>
                        <p-column field="motivoDetalle" header="Mot. Detalle"></p-column>
                        <p-column field="fecha" header="Fecha"></p-column>
                        <p-column field="estado" header="Estado"></p-column>
                    </p-dataTable>
                </form>
            </div>
        </div>
    </div>
</div>
<p-dialog header="Información Adicional" [(visible)]="displayInfoAdicional" modal="modal" width="600" height="500" [responsive]="true">
    <div class="ui-g">
        <p-tabView [activeIndex]="0">
            <p-tabPanel header="Solicitar Información" style="height: 500" leftIcon="fa-id-card">
                <p-messages [(value)]="messagesSolicitaInformacion"></p-messages>
                <div *ngIf="flagResponder" class="row">
                    <div class="col-md-12">
                        Mensaje:
                        <br />
                        <span>{{mensajeSolicitado}}</span>
                    </div>
                    <div class="col-md-12">
                        <textarea rows="5" cols="130" pInputTextarea [(ngModel)]="infoSolicitada" name="infoSolicitada"></textarea>
                    </div>
                    <div class="col-md-12">
                        <button (click)="displayInfoAdicional = false" class="btn btn-primary" type="button">Cancelar</button>
                        <button (click)="responderConsulta()" class="btn btn-primary" type="button">Guardar</button>
                    </div>
                </div>
                <div *ngIf="flagResponder == false" class="row">
                    <div class="col-md-12">
                        <span>No tiene mas solicitudes de información adicional</span>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Respuestas" style="height: 500" leftIcon="fa-id-card">
                <div class="row">
                    <div class="col-md-12">
                        <p-dataTable [value]="listaRespuestas" dataKey="serialize">
                            <p-header>Resultado de la consulta</p-header>
                            <p-column field="mensajeSolicitado" header="Mensaje solicitado"></p-column>
                            <p-column field="fechaSolicitada" header="Fecha solicitud"></p-column>
                            <p-column field="mensajeRespuesta" header="Mensaje Respuesta"></p-column>
                            <p-column field="fechaRespuesta" header="Fecha Respuesta"></p-column>
                        </p-dataTable>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
</p-dialog>
<p-dialog header="Atender Denuncias" [(visible)]="displayAtenderDenuncias" modal="modal" width="600" height="500" [responsive]="true">
    <div class="row">
        <div class="col-md-12">
            <p-messages [(value)]="messagesAtenderdenu"></p-messages>
            <p-dataTable [value]="selectedResultado" dataKey="serialize">
                <p-header>Resultado de la consulta</p-header>
                <p-column field="empleador" header="Empleador"></p-column>
                <p-column field="denunciante" header="Denunciante"></p-column>
                <p-column field="motivo" header="Motivo"></p-column>
                <p-column field="codDenuncia" header="Código"></p-column>
            </p-dataTable>
        </div>
        <div class="col-md-12">
            <button (click)="displayAtenderDenuncias = false" class="btn btn-primary" type="button">Cancelar</button>
            <button (click)="enviarAtencion()" class="btn btn-primary" type="button">Guardar</button>
        </div>
    </div>
</p-dialog>
<p-dialog header="Finalizar Denuncias" [(visible)]="displayFinalizarDenuncias" modal="modal" width="600" height="500" [responsive]="true">
    <div class="row">
        <div class="col-md-12">
            <label>Seleccione un motivo de la finalización</label>
            <br />
            <p-dropdown [options]="listaMotfin" name="selectMotfin" [(ngModel)]="selectMotfin" [style]="{'width':'140px'}" placeholder="Seleccione el motivo"
                appendTo="body" optionLabel="name"></p-dropdown>
        </div>
        <div class="col-md-12">
            <label>Ingrese una observación</label>
            <br />
            <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="infoObsFin" name="infoObsFin"></textarea>
        </div>
        <div class="col-md-12">
            <button (click)="displayFinalizarDenuncias = false" class="btn btn-primary" type="button">Cancelar</button>
            <button (click)="enviarFinalizacionDenuncia()" class="btn btn-primary" type="button">Guardar</button>
        </div>
    </div>
</p-dialog>