<div class="content-wrapper right-col col-12 col-sm-12 col-md-12 col-lg-12 py-2">
    <div class="row">
        <div class="col" style="text-align:center;">
            <h5 class="title">ANEXO 1D</h5>
            <h5 class="title">DETALLE DE CUENTAS</h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card card-mtpe mb-3">
                <div class="card-body">
                    <p>GASTOS DE VENTAS Y DISTRIBUCIÓN (*)
                        <a href="#" class="btn btn-sm btn-dark" style="float:right;" data-toggle="modal" data-target="#exampleModal">
                            <i class="fa fa-plus" aria-hidden="true"></i> Agregar Otro</a>
                    </p>
                    </p>
                    <table class="table table-responsive table-bordered table-hover cabecera">
                        <thead>
                            <tr style="font-size:8.5pt;">
                                <td>Descripción(2)</td>
                                <td>2014</td>
                                <td>2015</td>
                                <td>2016</td>
                                <td>2017</td>
                                <td>Acción</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td style="text-align: center;width: 10%">
                                    <a href="" class="btn btn-sm btn-warning">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                    <a href="" class="btn btn-sm btn-danger">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>TOTAL</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                    <p>DENTRO DE LOS GASTOS DE VENTAS Y DISTRIBUCIÓN:</p>
                    <p>&nbsp; Gastos por servicios Prestados por terceros
                        <a href="#" class="btn btn-sm btn-dark" style="float:right;" data-toggle="modal" data-target="#exampleModal">
                            <i class="fa fa-plus" aria-hidden="true"></i> Agregar Otro</a>
                    </p>
                    </p>
                    <table class="table table-responsive table-bordered table-hover cabecera">
                        <thead>
                            <tr style="font-size:8.5pt;">
                                <td>Descripción(2)</td>
                                <td>2014</td>
                                <td>2015</td>
                                <td>2016</td>
                                <td>2017</td>
                                <td>Acción</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td style="text-align: center;width: 10%">
                                    <a href="" class="btn btn-sm btn-warning">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                    <a href="" class="btn btn-sm btn-danger">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>TOTAL</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                    <p>&nbsp; Gastos por Cargos Diversos de Gestión
                        <a href="#" class="btn btn-sm btn-dark" style="float:right;" data-toggle="modal" data-target="#exampleModal">
                            <i class="fa fa-plus" aria-hidden="true"></i> Agregar Otro</a>
                    </p>
                    </p>
                    <table class="table table-responsive table-bordered table-hover cabecera">
                        <thead>
                            <tr style="font-size:8.5pt;">
                                <td>Descripción(2)</td>
                                <td>2014</td>
                                <td>2015</td>
                                <td>2016</td>
                                <td>2017</td>
                                <td>Acción</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td style="text-align: center;width: 10%">
                                    <a href="" class="btn btn-sm btn-warning">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                    <a href="" class="btn btn-sm btn-danger">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>TOTAL</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                    <p>&nbsp; Provisiones
                        <a href="#" class="btn btn-sm btn-dark" style="float:right;" data-toggle="modal" data-target="#exampleModal">
                            <i class="fa fa-plus" aria-hidden="true"></i> Agregar Otro</a>
                    </p>
                    </p>
                    <table class="table table-responsive table-bordered table-hover cabecera">
                        <thead>
                            <tr style="font-size:8.5pt;">
                                <td>Descripción(2)</td>
                                <td>2014</td>
                                <td>2015</td>
                                <td>2016</td>
                                <td>2017</td>
                                <td>Acción</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td style="text-align: center;width: 10%">
                                    <a href="" class="btn btn-sm btn-warning">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                    <a href="" class="btn btn-sm btn-danger">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>TOTAL</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                    <p>GASTOS DE ADMINISTRACIÓN (*)
                        <a href="#" class="btn btn-sm btn-dark" style="float:right;" data-toggle="modal" data-target="#exampleModal">
                            <i class="fa fa-plus" aria-hidden="true"></i> Agregar Otro</a>
                    </p>
                    </p>
                    <table class="table table-responsive table-bordered table-hover cabecera">
                        <thead>
                            <tr style="font-size:8.5pt;">
                                <td>Descripción(2)</td>
                                <td>2014</td>
                                <td>2015</td>
                                <td>2016</td>
                                <td>2017</td>
                                <td>Acción</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td style="text-align: center;width: 10%">
                                    <a href="" class="btn btn-sm btn-warning">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                    <a href="" class="btn btn-sm btn-danger">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>TOTAL</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <p>DENTRO DE LOS GASTOS ADMINISTRACIÓN:</p>
                    <p>&nbsp; Gastos por servicios Prestados por terceros
                        <a href="#" class="btn btn-sm btn-dark" style="float:right;" data-toggle="modal" data-target="#exampleModal">
                            <i class="fa fa-plus" aria-hidden="true"></i> Agregar Otro</a>
                    </p>
                    </p>
                    <table class="table table-responsive table-bordered table-hover cabecera">
                        <thead>
                            <tr style="font-size:8.5pt;">
                                <td>Descripción(2)</td>
                                <td>2014</td>
                                <td>2015</td>
                                <td>2016</td>
                                <td>2017</td>
                                <td>Acción</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td style="text-align: center;width: 10%">
                                    <a href="" class="btn btn-sm btn-warning">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                    <a href="" class="btn btn-sm btn-danger">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>TOTAL</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                    <p>INGRESOS FINANCIEROS
                        <a href="#" class="btn btn-sm btn-dark" style="float:right;" data-toggle="modal" data-target="#exampleModal">
                            <i class="fa fa-plus" aria-hidden="true"></i> Agregar Otro</a>
                    </p>
                    </p>
                    <table class="table table-responsive table-bordered table-hover cabecera">
                        <thead>
                            <tr style="font-size:8.5pt;">
                                <td>Descripción(2)</td>
                                <td>2014</td>
                                <td>2015</td>
                                <td>2016</td>
                                <td>2017</td>
                                <td>Acción</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td style="text-align: center;width: 10%">
                                    <a href="" class="btn btn-sm btn-warning">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                    <a href="" class="btn btn-sm btn-danger">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>TOTAL</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                    <p>GASTOS FINANCIEROS
                        <a href="#" class="btn btn-sm btn-dark" style="float:right;" data-toggle="modal" data-target="#exampleModal">
                            <i class="fa fa-plus" aria-hidden="true"></i> Agregar Otro</a>
                    </p>
                    </p>
                    <table class="table table-responsive table-bordered table-hover cabecera">
                        <thead>
                            <tr style="font-size:8.5pt;">
                                <td>Descripción(2)</td>
                                <td>2014</td>
                                <td>2015</td>
                                <td>2016</td>
                                <td>2017</td>
                                <td>Acción</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td style="text-align: center;width: 10%">
                                    <a href="" class="btn btn-sm btn-warning">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                    <a href="" class="btn btn-sm btn-danger">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>TOTAL</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                    <p>OTROS INGRESOS
                        <a href="#" class="btn btn-sm btn-dark" style="float:right;" data-toggle="modal" data-target="#exampleModal">
                            <i class="fa fa-plus" aria-hidden="true"></i> Agregar Otro</a>
                    </p>
                    </p>
                    <table class="table table-responsive table-bordered table-hover cabecera">
                        <thead>
                            <tr style="font-size:8.5pt;">
                                <td>Descripción(2)</td>
                                <td>2014</td>
                                <td>2015</td>
                                <td>2016</td>
                                <td>2017</td>
                                <td>Acción</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td style="text-align: center;width: 10%">
                                    <a href="" class="btn btn-sm btn-warning">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                    <a href="" class="btn btn-sm btn-danger">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>TOTAL</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                    <p>OTROS EGRESOS
                        <a href="#" class="btn btn-sm btn-dark" style="float:right;" data-toggle="modal" data-target="#exampleModal">
                            <i class="fa fa-plus" aria-hidden="true"></i> Agregar Otro</a>
                    </p>
                    </p>
                    <table class="table table-responsive table-bordered table-hover cabecera">
                        <thead>
                            <tr style="font-size:8.5pt;">
                                <td>Descripción(2)</td>
                                <td>2014</td>
                                <td>2015</td>
                                <td>2016</td>
                                <td>2017</td>
                                <td>Acción</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td style="text-align: center;width: 10%">
                                    <a href="" class="btn btn-sm btn-warning">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                    <a href="" class="btn btn-sm btn-danger">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>TOTAL</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="font-size:9pt;padding:5px;">
                    <br/>


                    <p style="padding:5px;">
                        INSTRUCCIONES:
                        <br/> (*) Desagregar en cuentas de la clase 6 a dos dígitos caso contrario según el giro de la empresa.
                        <br/> -La información de la columna 2014, 2015 y 2016 corresponde a los resultados financieros correspondientes
                        a los tres últimos años.
                        <br/> -La columna 2017 contiene información preliminar hasta el último periodo mensual declarado a la
                        SUNAT (PDT 621) del ejercicio vigente (especificar mes y año).
                        <br/> -El total de las columnas 2014, 2015, 2016 y 2017 debe ser igual a las casillas corrrespondientes
                        al Formulario Nº 1.
                        <br/>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-sm-right">
            <a href="#" class="btn btn-sm m-1 btn-success">
                <i class="fa fa-chevron-left" aria-hidden="true"></i> Regresar</a>
            <a href="#" class="btn btn-sm m-1 btn-secondary">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</a>
        </div>
    </div>
</div>

</section>

<footer class="row flex-nowrap">
    <div class="left-col active col-2 col-sm-2 col-md-2 col-lg-2">
        <div class="aside-footer row">
        </div>
    </div>
    <div class="footer d-flex justify-content-center align-items-center right-col col-10 col-sm-10 col-md-10 col-lg-10">
        <p class="text-center my-1">MTPE © 2017 Todos los derechos reservados</p>
    </div>
    <div id="scroll">
        <i class="fa fa-chevron-up" aria-hidden="true"></i>
    </div>
</footer>

</div>

<!-- Modal Direccion-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="titleReg" aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin: 30px 30%">
        <div class="modal-content" style="width:700px;">
            <div class="modal-header text-white bg-warning p-2">
                <h5 class="modal-title" id="titleReg">Registro</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col">
                            <label for="inpDireccion" class="col-form-label col-form-label-sm">Descripcion:</label>
                            <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" value="">
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col">
                            <fieldset>
                                <legend>Monto</legend>
                                <div class="row">
                                    <div class="col col-sm-2">
                                        <label for="inpDireccion" class="col-form-label col-form-label-sm">2014</label>
                                    </div>
                                    <div class="col">
                                        <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" value="0">
                                    </div>
                                    <div class="col col-sm-2">
                                        <label for="inpDireccion" class="col-form-label col-form-label-sm">2015</label>
                                    </div>
                                    <div class="col">
                                        <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" value="0">
                                    </div>
                                </div>
                                <br/>
                                <br/>
                                <div class="row">
                                    <div class="col col-sm-2">
                                        <label for="inpDireccion" class="col-form-label col-form-label-sm">2016</label>
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" value="">
                                    </div>
                                    <div class="col col-sm-2">
                                        <label for="inpDireccion" class="col-form-label col-form-label-sm">2017</label>
                                    </div>
                                    <div class="col">
                                        <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" value="0">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center">
                <a href="#" class="btn btn-sm btn-danger" data-dismiss="modal">
                    <i class="fa fa-ban" aria-hidden="true"></i> Cancelar</a>
                <a href="#" class="btn btn-sm btn-warning">
                    <i class="fa fa-plus" aria-hidden="true"></i> Añadir</a>
            </div>
        </div>
    </div>
</div>