<div class="content-wrapper right-col col-12 col-sm-12 col-md-12 col-lg-12 py-2">
    <div class="row">
        <div class="col" style="text-align:center;">
            <h5 class="title">ANEXO 1C</h5>
            <h5 class="title">MATERIA PRIMA CONSUMIDA EN EL PROCESO DE PRODUCCIÓN</h5>
            <h6 class="title">(Soles)</h6>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card card-mtpe mb-3">
                <div class="card-body">
                    <p>&nbsp; Importada
                        <a href="#" class="btn btn-sm btn-dark" style="float:right;" data-toggle="modal" data-target="#exampleModal">
                            <i class="fa fa-plus" aria-hidden="true"></i> Agregar Otro</a>
                    </p>
                    </p>
                    <table class="table table-responsive table-bordered table-hover cabecera">
                        <thead>
                            <tr style="font-size:8.5pt;">
                                <td rowspan="2">Descripción(2)</td>
                                <td rowspan="2">Unidad de Medida</td>
                                <td colspan="3" style="border-left: 1px white solid;border-right: 1px white solid;border-bottom: 1px white solid;">2014</td>
                                <td colspan="3" style="border-left: 1px white solid;border-right: 1px white solid;border-bottom: 1px white solid;">2015</td>
                                <td colspan="3" style="border-left: 1px white solid;border-right: 1px white solid;border-bottom: 1px white solid;">2016</td>
                                <td colspan="3" style="border-left: 1px white solid;border-right: 1px white solid;border-bottom: 1px white solid;">2017</td>
                                <td rowspan="2">Acción</td>
                            </tr>
                            <tr style="font-size:7.5pt;">

                                <td>Cantidad Consumida</td>
                                <td>Precio de Compra</td>
                                <td style="border-right: 1px white solid;">Costo Total(1)</td>
                                <td>Cantidad Consumida</td>
                                <td>Precio de Compra</td>
                                <td style="border-right: 1px white solid;">Costo Total(1)</td>
                                <td>Cantidad Consumida</td>
                                <td>Precio de Compra</td>
                                <td style="border-right: 1px white solid;">Costo Total(1)</td>
                                <td>Cantidad Consumida</td>
                                <td>Precio de Compra</td>
                                <td style="border-right: 1px white solid;">Costo Total(1)</td>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td style="text-align: center;width: 10%">
                                    <a href="" class="btn btn-sm btn-warning">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                    <a href="" class="btn btn-sm btn-danger">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>SUBTOTAL</td>
                                <td></td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                    <p>&nbsp; Nacional
                        <a href="#" class="btn btn-sm btn-dark" style="float:right;" data-toggle="modal" data-target="#exampleModal">
                            <i class="fa fa-plus" aria-hidden="true"></i> Agregar Otro</a>
                    </p>
                    </p>
                    <table class="table table-responsive table-bordered table-hover cabecera">
                        <thead>
                            <tr style="font-size:8.5pt;">
                                <td rowspan="2">Descripción(2)</td>
                                <td rowspan="2">Unidad de Medida</td>
                                <td colspan="3" style="border-left: 1px white solid;border-right: 1px white solid;border-bottom: 1px white solid;">2014</td>
                                <td colspan="3" style="border-left: 1px white solid;border-right: 1px white solid;border-bottom: 1px white solid;">2015</td>
                                <td colspan="3" style="border-left: 1px white solid;border-right: 1px white solid;border-bottom: 1px white solid;">2016</td>
                                <td colspan="3" style="border-left: 1px white solid;border-right: 1px white solid;border-bottom: 1px white solid;">2017</td>
                                <td rowspan="2">Acción</td>
                            </tr>
                            <tr style="font-size:7.5pt;">

                                <td>Cantidad Consumida</td>
                                <td>Precio de Compra</td>
                                <td style="border-right: 1px white solid;">Costo Total(1)</td>
                                <td>Cantidad Consumida</td>
                                <td>Precio de Compra</td>
                                <td style="border-right: 1px white solid;">Costo Total(1)</td>
                                <td>Cantidad Consumida</td>
                                <td>Precio de Compra</td>
                                <td style="border-right: 1px white solid;">Costo Total(1)</td>
                                <td>Cantidad Consumida</td>
                                <td>Precio de Compra</td>
                                <td style="border-right: 1px white solid;">Costo Total(1)</td>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td style="text-align: center;width: 10%">
                                    <a href="" class="btn btn-sm btn-warning">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                    <a href="" class="btn btn-sm btn-danger">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>SUBTOTAL</td>
                                <td></td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" style="text-align:center;">
            <h5 class="title">GASTOS DE FABRICACIÓN</h5>
            <h6 class="title">(Soles)</h6>
        </div>
    </div>
    <div class="card card-mtpe mb-3">
        <div class="card-body">
            <p>&nbsp; Importada
                <a href="#" class="btn btn-sm btn-dark" style="float:right;" data-toggle="modal" data-target="#exampleModal2">
                    <i class="fa fa-plus" aria-hidden="true"></i> Agregar Otro</a>
            </p>
            </p>
            <table class="table table-responsive table-bordered table-hover cabecera">
                <thead>
                    <tr style="font-size:8.5pt;">
                        <td rowspan="2">Descripción(2)</td>
                        <td rowspan="2">Unidad de Medida</td>
                        <td colspan="3" style="border-left: 1px white solid;border-right: 1px white solid;border-bottom: 1px white solid;">2014</td>
                        <td colspan="3" style="border-left: 1px white solid;border-right: 1px white solid;border-bottom: 1px white solid;">2015</td>
                        <td colspan="3" style="border-left: 1px white solid;border-right: 1px white solid;border-bottom: 1px white solid;">2016</td>
                        <td colspan="3" style="border-left: 1px white solid;border-right: 1px white solid;border-bottom: 1px white solid;">2017</td>
                        <td rowspan="2">Acción</td>
                    </tr>
                    <tr style="font-size:7.5pt;">

                        <td>Cantidad Consumida</td>
                        <td>Precio de Compra</td>
                        <td style="border-right: 1px white solid;">Costo Total(1)</td>
                        <td>Cantidad Consumida</td>
                        <td>Precio de Compra</td>
                        <td style="border-right: 1px white solid;">Costo Total(1)</td>
                        <td>Cantidad Consumida</td>
                        <td>Precio de Compra</td>
                        <td style="border-right: 1px white solid;">Costo Total(1)</td>
                        <td>Cantidad Consumida</td>
                        <td>Precio de Compra</td>
                        <td style="border-right: 1px white solid;">Costo Total(1)</td>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                        <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                        <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                        <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                        <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                        <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                        <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                        <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                        <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                        <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                        <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                        <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                        <td style="text-align: center;width: 10%">
                            <a href="" class="btn btn-sm btn-warning">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a href="" class="btn btn-sm btn-danger">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>SUBTOTAL</td>
                        <td></td>
                        <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                        <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                        <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                        <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                        <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                        <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                        <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                        <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                        <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                        <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                        <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                        <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

            <p>&nbsp; Nacional
                <a href="#" class="btn btn-sm btn-dark" style="float:right;" data-toggle="modal" data-target="#exampleModal2">
                    <i class="fa fa-plus" aria-hidden="true"></i> Agregar Otro</a>
            </p>
            </p>
            <table class="table table-responsive table-bordered table-hover cabecera">
                <thead>
                    <tr style="font-size:8.5pt;">
                        <td rowspan="2">Descripción(2)</td>
                        <td rowspan="2">Unidad de Medida</td>
                        <td colspan="3" style="border-left: 1px white solid;border-right: 1px white solid;border-bottom: 1px white solid;">2014</td>
                        <td colspan="3" style="border-left: 1px white solid;border-right: 1px white solid;border-bottom: 1px white solid;">2015</td>
                        <td colspan="3" style="border-left: 1px white solid;border-right: 1px white solid;border-bottom: 1px white solid;">2016</td>
                        <td colspan="3" style="border-left: 1px white solid;border-right: 1px white solid;border-bottom: 1px white solid;">2017</td>
                        <td rowspan="2">Acción</td>
                    </tr>
                    <tr style="font-size:7.5pt;">

                        <td>Cantidad Consumida</td>
                        <td>Precio de Compra</td>
                        <td style="border-right: 1px white solid;">Costo Total(1)</td>
                        <td>Cantidad Consumida</td>
                        <td>Precio de Compra</td>
                        <td style="border-right: 1px white solid;">Costo Total(1)</td>
                        <td>Cantidad Consumida</td>
                        <td>Precio de Compra</td>
                        <td style="border-right: 1px white solid;">Costo Total(1)</td>
                        <td>Cantidad Consumida</td>
                        <td>Precio de Compra</td>
                        <td style="border-right: 1px white solid;">Costo Total(1)</td>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                        <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                        <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                        <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                        <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                        <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                        <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                        <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                        <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                        <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                        <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                        <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                        <td style="text-align: center;width: 10%">
                            <a href="" class="btn btn-sm btn-warning">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a href="" class="btn btn-sm btn-danger">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>SUBTOTAL</td>
                        <td></td>
                        <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                        <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                        <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                        <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                        <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                        <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                        <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                        <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                        <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                        <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                        <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                        <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <table class="table table-responsive table-bordered table-hover">

            <tbody>
                <tr>
                    <td class="concepto" style="width:150px">
                        <strong>INGRESO TOTAL (3)</strong>
                    </td>
                    <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                    <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                    <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                    <td class="text-right" style="padding-right: 20px!important;">0.00</td>

                    <td style="width: 10%"></td>
                </tr>
            </tbody>
        </table>

        <div style="font-size:9pt;padding:5px;">
            <br/>


            <p>
                INSTRUCCIONES:
                <br/> -La información de la columna 2014, 2015 y 2016 corresponde a los resultados financieros correspondientes
                a los tres últimos años.
                <br/> -La columna 2017 contiene información preliminar hasta el último periodo mensual declarado a la SUNAT (PDT
                621) del ejercicio vigente (especificar mes y año).
                <br/> (1) Multiplicar cantidad consumida por el precio promedio de compra o servicio por unidad de medida. Precio
                sin considerar el I.G.V
                <br/> (2) Listar los gastos que forman parte del Costo de Producción y Gastos de Fabricació según sea el cuadro
                respectivo.
                <br/> (3) El total de la columna 2014, 2015, 2016 y 2017 del Costo de Materia Prima y de los Gastos de Fabricación
                debe ser igual a los montos señalados en el Formulario Nº 1.
                <br/>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-sm-right">
            <a href="#" class="btn btn-sm m-1 btn-success">
                <i class="fa fa-chevron-left" aria-hidden="true"></i> Regresar</a>
            <a href="#" class="btn btn-sm m-1 btn-secondary">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</a>
        </div>
    </div>
</div>

</section>

<footer class="row flex-nowrap">
    <div class="left-col active col-2 col-sm-2 col-md-2 col-lg-2">
        <div class="aside-footer row">
        </div>
    </div>
    <div class="footer d-flex justify-content-center align-items-center right-col col-10 col-sm-10 col-md-10 col-lg-10">
        <p class="text-center my-1">MTPE © 2017 Todos los derechos reservados</p>
    </div>
    <div id="scroll">
        <i class="fa fa-chevron-up" aria-hidden="true"></i>
    </div>
</footer>

</div>

<!-- Modal Direccion-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="titleReg" aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin: 30px 20%">
        <div class="modal-content" style="width:900px;">
            <div class="modal-header text-white bg-warning p-2">
                <h5 class="modal-title" id="titleReg">Materia Prima Consumida en el Proceso de Produccion</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col">
                            <label for="inpDireccion" class="col-form-label col-form-label-sm">Descripcion:</label>
                            <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" value="">
                        </div>
                        <div class="col">
                            <label for="inpDireccion" class="col-form-label col-form-label-sm">Unidad de Medida:</label>
                            <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" value="">
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col">
                            <fieldset>
                                <legend>2014</legend>
                                <div class="row">
                                    <div class="col">
                                        <label for="inpDireccion" class="col-form-label col-form-label-sm">Cantidad Consumida:</label>
                                    </div>
                                    <div class="col">
                                        <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" value="0">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="inpDireccion" class="col-form-label col-form-label-sm">Precio de Compra:</label>
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" value="">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col">
                            <fieldset>
                                <legend>2015</legend>
                                <div class="row">
                                    <div class="col">
                                        <label for="inpDireccion" class="col-form-label col-form-label-sm">Cantidad Consumida:</label>
                                    </div>
                                    <div class="col">
                                        <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" value="0">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="inpDireccion" class="col-form-label col-form-label-sm">Precio de Compra:</label>
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" value="">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col">
                            <fieldset>
                                <legend>2016</legend>
                                <div class="row">
                                    <div class="col">
                                        <label for="inpDireccion" class="col-form-label col-form-label-sm">Cantidad Consumida:</label>
                                    </div>
                                    <div class="col">
                                        <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" value="0">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="inpDireccion" class="col-form-label col-form-label-sm">Precio de Compra:</label>
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" value="">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col">
                            <fieldset>
                                <legend>2017</legend>
                                <div class="row">
                                    <div class="col">
                                        <label for="inpDireccion" class="col-form-label col-form-label-sm">Cantidad Consumida:</label>
                                    </div>
                                    <div class="col">
                                        <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" value="0">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="inpDireccion" class="col-form-label col-form-label-sm">Precio de Compra:</label>
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" value="">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center">
                <a href="#" class="btn btn-sm btn-danger" data-dismiss="modal">
                    <i class="fa fa-ban" aria-hidden="true"></i> Cancelar</a>
                <a href="#" class="btn btn-sm btn-warning">
                    <i class="fa fa-plus" aria-hidden="true"></i> Añadir</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal Direccion-->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="titleReg2" aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin: 30px 20%">
        <div class="modal-content" style="width:900px;">
            <div class="modal-header text-white bg-warning p-2">
                <h5 class="modal-title" id="titleReg2">Gastos de Fabricación</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col">
                            <label for="inpDireccion" class="col-form-label col-form-label-sm">Descripcion:</label>
                            <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" value="">
                        </div>
                        <div class="col">
                            <label for="inpDireccion" class="col-form-label col-form-label-sm">Unidad de Medida:</label>
                            <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" value="">
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col">
                            <fieldset>
                                <legend>2014</legend>
                                <div class="row">
                                    <div class="col">
                                        <label for="inpDireccion" class="col-form-label col-form-label-sm">Cantidad Consumida:</label>
                                    </div>
                                    <div class="col">
                                        <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" value="0">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="inpDireccion" class="col-form-label col-form-label-sm">Precio de Compra:</label>
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" value="">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col">
                            <fieldset>
                                <legend>2015</legend>
                                <div class="row">
                                    <div class="col">
                                        <label for="inpDireccion" class="col-form-label col-form-label-sm">Cantidad Consumida:</label>
                                    </div>
                                    <div class="col">
                                        <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" value="0">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="inpDireccion" class="col-form-label col-form-label-sm">Precio de Compra:</label>
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" value="">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col">
                            <fieldset>
                                <legend>2016</legend>
                                <div class="row">
                                    <div class="col">
                                        <label for="inpDireccion" class="col-form-label col-form-label-sm">Cantidad Consumida:</label>
                                    </div>
                                    <div class="col">
                                        <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" value="0">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="inpDireccion" class="col-form-label col-form-label-sm">Precio de Compra:</label>
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" value="">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col">
                            <fieldset>
                                <legend>2017</legend>
                                <div class="row">
                                    <div class="col">
                                        <label for="inpDireccion" class="col-form-label col-form-label-sm">Cantidad Consumida:</label>
                                    </div>
                                    <div class="col">
                                        <input type="number" class="form-control form-control-sm" id="inpDireccion" placeholder="" value="0">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="inpDireccion" class="col-form-label col-form-label-sm">Precio de Compra:</label>
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control form-control-sm" id="inpDireccion" placeholder="" value="">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center">
                <a href="#" class="btn btn-sm btn-danger" data-dismiss="modal">
                    <i class="fa fa-ban" aria-hidden="true"></i> Cancelar</a>
                <a href="#" class="btn btn-sm btn-warning">
                    <i class="fa fa-plus" aria-hidden="true"></i> Añadir</a>
            </div>
        </div>
    </div>
</div>