<div>
    <h2>
        <span jhiTranslate="gatewayApp.formfinanc.home.title">Formfinancs</span>
        <button class="btn btn-primary float-right jh-create-entity create-formfinanc" [routerLink]="['/', { outlets: { popup: ['formfinanc-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="gatewayApp.formfinanc.home.createLabel">
            Create new Formfinanc
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gatewayApp.formfinanc.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="formfinancs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gatewayApp.formfinanc.nCodffina">N Codffina</span></th>
            <th><span jhiTranslate="gatewayApp.formfinanc.vCodform">V Codform</span></th>
            <th><span jhiTranslate="gatewayApp.formfinanc.vDesffina">V Desffina</span></th>
            <th><span jhiTranslate="gatewayApp.formfinanc.vUndffina">V Undffina</span></th>
            <th><span jhiTranslate="gatewayApp.formfinanc.nMonffina">N Monffina</span></th>
            <th><span jhiTranslate="gatewayApp.formfinanc.nPorcffin">N Porcffin</span></th>
            <th><span jhiTranslate="gatewayApp.formfinanc.nAnioform">N Anioform</span></th>
            <th><span jhiTranslate="gatewayApp.formfinanc.nMesform">N Mesform</span></th>
            <th><span jhiTranslate="gatewayApp.formfinanc.vCodfila">V Codfila</span></th>
            <th><span jhiTranslate="gatewayApp.formfinanc.vCodcolum">V Codcolum</span></th>
            <th><span jhiTranslate="gatewayApp.formfinanc.vUsuareg">V Usuareg</span></th>
            <th><span jhiTranslate="gatewayApp.formfinanc.tFecreg">T Fecreg</span></th>
            <th><span jhiTranslate="gatewayApp.formfinanc.nFlgactivo">N Flgactivo</span></th>
            <th><span jhiTranslate="gatewayApp.formfinanc.nSedereg">N Sedereg</span></th>
            <th><span jhiTranslate="gatewayApp.formfinanc.vUsuaupd">V Usuaupd</span></th>
            <th><span jhiTranslate="gatewayApp.formfinanc.tFecupd">T Fecupd</span></th>
            <th><span jhiTranslate="gatewayApp.formfinanc.nSedeupd">N Sedeupd</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let formfinanc of formfinancs ;trackBy: trackId">
                <td><a [routerLink]="['../formfinanc', formfinanc.id ]">{{formfinanc.id}}</a></td>
                <td>{{formfinanc.nCodffina}}</td>
                <td>{{formfinanc.vCodform}}</td>
                <td>{{formfinanc.vDesffina}}</td>
                <td>{{formfinanc.vUndffina}}</td>
                <td>{{formfinanc.nMonffina}}</td>
                <td>{{formfinanc.nPorcffin}}</td>
                <td>{{formfinanc.nAnioform}}</td>
                <td>{{formfinanc.nMesform}}</td>
                <td>{{formfinanc.vCodfila}}</td>
                <td>{{formfinanc.vCodcolum}}</td>
                <td>{{formfinanc.vUsuareg}}</td>
                <td>{{formfinanc.tFecreg | date:'medium'}}</td>
                <td>{{formfinanc.nFlgactivo}}</td>
                <td>{{formfinanc.nSedereg}}</td>
                <td>{{formfinanc.vUsuaupd}}</td>
                <td>{{formfinanc.tFecupd | date:'medium'}}</td>
                <td>{{formfinanc.nSedeupd}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../formfinanc', formfinanc.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'formfinanc/'+ formfinanc.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'formfinanc/'+ formfinanc.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
