<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myFormfinancLabel" jhiTranslate="gatewayApp.formfinanc.home.createOrEditLabel">Create or edit a Formfinanc</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!formfinanc.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="formfinanc.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.formfinanc.nCodffina" for="field_nCodffina">N Codffina</label>
            <input type="number" class="form-control" name="nCodffina" id="field_nCodffina"
                [(ngModel)]="formfinanc.nCodffina" required />
            <div [hidden]="!(editForm.controls.nCodffina?.dirty && editForm.controls.nCodffina?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nCodffina?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nCodffina?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.formfinanc.vCodform" for="field_vCodform">V Codform</label>
            <input type="text" class="form-control" name="vCodform" id="field_vCodform"
                [(ngModel)]="formfinanc.vCodform" maxlength="20" />
            <div [hidden]="!(editForm.controls.vCodform?.dirty && editForm.controls.vCodform?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vCodform?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.formfinanc.vDesffina" for="field_vDesffina">V Desffina</label>
            <input type="text" class="form-control" name="vDesffina" id="field_vDesffina"
                [(ngModel)]="formfinanc.vDesffina" maxlength="200" />
            <div [hidden]="!(editForm.controls.vDesffina?.dirty && editForm.controls.vDesffina?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vDesffina?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 200 }">
                   This field cannot be longer than 200 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.formfinanc.vUndffina" for="field_vUndffina">V Undffina</label>
            <input type="text" class="form-control" name="vUndffina" id="field_vUndffina"
                [(ngModel)]="formfinanc.vUndffina" maxlength="50" />
            <div [hidden]="!(editForm.controls.vUndffina?.dirty && editForm.controls.vUndffina?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vUndffina?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.formfinanc.nMonffina" for="field_nMonffina">N Monffina</label>
            <input type="number" class="form-control" name="nMonffina" id="field_nMonffina"
                [(ngModel)]="formfinanc.nMonffina"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.formfinanc.nPorcffin" for="field_nPorcffin">N Porcffin</label>
            <input type="number" class="form-control" name="nPorcffin" id="field_nPorcffin"
                [(ngModel)]="formfinanc.nPorcffin"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.formfinanc.nAnioform" for="field_nAnioform">N Anioform</label>
            <input type="number" class="form-control" name="nAnioform" id="field_nAnioform"
                [(ngModel)]="formfinanc.nAnioform"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.formfinanc.nMesform" for="field_nMesform">N Mesform</label>
            <input type="number" class="form-control" name="nMesform" id="field_nMesform"
                [(ngModel)]="formfinanc.nMesform"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.formfinanc.vCodfila" for="field_vCodfila">V Codfila</label>
            <input type="text" class="form-control" name="vCodfila" id="field_vCodfila"
                [(ngModel)]="formfinanc.vCodfila" maxlength="10" />
            <div [hidden]="!(editForm.controls.vCodfila?.dirty && editForm.controls.vCodfila?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vCodfila?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 10 }">
                   This field cannot be longer than 10 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.formfinanc.vCodcolum" for="field_vCodcolum">V Codcolum</label>
            <input type="text" class="form-control" name="vCodcolum" id="field_vCodcolum"
                [(ngModel)]="formfinanc.vCodcolum" maxlength="10" />
            <div [hidden]="!(editForm.controls.vCodcolum?.dirty && editForm.controls.vCodcolum?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vCodcolum?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 10 }">
                   This field cannot be longer than 10 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.formfinanc.vUsuareg" for="field_vUsuareg">V Usuareg</label>
            <input type="text" class="form-control" name="vUsuareg" id="field_vUsuareg"
                [(ngModel)]="formfinanc.vUsuareg" required maxlength="20" />
            <div [hidden]="!(editForm.controls.vUsuareg?.dirty && editForm.controls.vUsuareg?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vUsuareg?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vUsuareg?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.formfinanc.tFecreg" for="field_tFecreg">T Fecreg</label>
            <div class="d-flex">
                <input id="field_tFecreg" type="datetime-local" class="form-control" name="tFecreg" [(ngModel)]="formfinanc.tFecreg"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.tFecreg?.dirty && editForm.controls.tFecreg?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.tFecreg?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.tFecreg?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.formfinanc.nFlgactivo" for="field_nFlgactivo">N Flgactivo</label>
            <input type="checkbox" class="form-control" name="nFlgactivo" id="field_nFlgactivo"
                [(ngModel)]="formfinanc.nFlgactivo"  />
            <div [hidden]="!(editForm.controls.nFlgactivo?.dirty && editForm.controls.nFlgactivo?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nFlgactivo?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.formfinanc.nSedereg" for="field_nSedereg">N Sedereg</label>
            <input type="number" class="form-control" name="nSedereg" id="field_nSedereg"
                [(ngModel)]="formfinanc.nSedereg" required />
            <div [hidden]="!(editForm.controls.nSedereg?.dirty && editForm.controls.nSedereg?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nSedereg?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nSedereg?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.formfinanc.vUsuaupd" for="field_vUsuaupd">V Usuaupd</label>
            <input type="text" class="form-control" name="vUsuaupd" id="field_vUsuaupd"
                [(ngModel)]="formfinanc.vUsuaupd" maxlength="20" />
            <div [hidden]="!(editForm.controls.vUsuaupd?.dirty && editForm.controls.vUsuaupd?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vUsuaupd?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.formfinanc.tFecupd" for="field_tFecupd">T Fecupd</label>
            <div class="d-flex">
                <input id="field_tFecupd" type="datetime-local" class="form-control" name="tFecupd" [(ngModel)]="formfinanc.tFecupd"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.formfinanc.nSedeupd" for="field_nSedeupd">N Sedeupd</label>
            <input type="number" class="form-control" name="nSedeupd" id="field_nSedeupd"
                [(ngModel)]="formfinanc.nSedeupd"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
